.ImageHolder {
    position: relative;
    /* box-shadow: 0 20px 40px rgba(0,0,0, 0.25); */
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    transform: scale(1) perspective(3000px) rotateY(0deg) rotateX(0deg) rotate(0deg);
    transition-delay: initial, initial;
    width: 640px;
    max-height: 640px;
    background-repeat: no-repeat;
    position: relative;
    right: 70px;
}
 
.ImageHolder:hover {
    /* transform: scale(1.1) perspective(3000px) rotateY(-30deg) rotateX(6deg) rotate(1deg);
    transition-duration: 0.8s, 0.8s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.2, 1), cubic-bezier(0.2, 1, 0.2, 1); */
}